.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #9e6892;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.item {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  a {
    color: rgb(9, 0, 0);
    font-weight: bold;
    text-decoration: none;
  }
  .active {
    text-decoration: underline;
    color: rgb(244, 246, 244);
  }
}
